<a href="https://colab.research.google.com/github/sachsac/Predictions_of_Sales/blob/main/Project_1_Part_2_(Cleaning_the_Data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import pandas as pd
import numpy as np
filename = '/content/drive/MyDrive/Coding Dojo/data set/sales_predictions.csv'
sales_predictions = pd.read_csv(filename)

In [86]:
sales_predictions.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [87]:
sales_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [88]:
null_weight = pd.isnull(sales_predictions['Item_Weight'])
sales_predictions[null_weight]
#may not be helpful for the data set and given its number of null values can be dropped

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [89]:
sales_predictions.drop(columns = ['Item_Weight'], inplace = True)
sales_predictions
sales_predictions.isnull().sum()

Item_Identifier                 0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [90]:
null_size = pd.isnull(sales_predictions['Outlet_Size'])
sales_predictions[null_size]

     Item_Identifier Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
3              FDX07          Regular  ...      Grocery Store          732.3800
8              FDH17          Regular  ...  Supermarket Type1         1076.5986
9              FDU28          Regular  ...  Supermarket Type1         4710.5350
25             NCD06          Low Fat  ...  Supermarket Type1          838.9080
28             FDE51          Regular  ...      Grocery Store          178.4344
...              ...              ...  ...                ...               ...
8502           NCH43          Low Fat  ...  Supermarket Type1         3020.0688
8508           FDW31          Regular  ...  Supermarket Type1         2587.9646
8509           FDG45          Low Fat  ...      Grocery Store          424.7804
8514           FDA01          Regular  ...  Supermarket Type1          468.7232
8519           FDS36          Regular  ...  Supermarket Type1          549.2850

[2410 rows x 11 columns]

In [91]:
#every grocery store is "small", Supermarkets can be anything. probably OK to delete this column as well
sales_predictions.drop(columns = ['Outlet_Size'], inplace = True)
sales_predictions
sales_predictions.isnull().sum()

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [92]:
#duplicate items?
sales_predictions.duplicated().any()

False

Syntax/Spelling check

In [93]:
sales_predictions.value_counts('Outlet_Type')

Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
dtype: int64

In [94]:
#Let's simplify, supermarket vs grocery
sales_predictions.loc[sales_predictions['Outlet_Type'] == 'Supermarket Type1', 'Outlet_Type'] = 'Supermarket'
sales_predictions.loc[sales_predictions['Outlet_Type'] == 'Supermarket Type2', 'Outlet_Type'] = 'Supermarket'
sales_predictions.loc[sales_predictions['Outlet_Type'] == 'Supermarket Type3', 'Outlet_Type'] = 'Supermarket'
sales_predictions.value_counts('Outlet_Type')

Outlet_Type
Supermarket      7440
Grocery Store    1083
dtype: int64

In [58]:
sales_predictions.value_counts('Item_Fat_Content')

Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
dtype: int64

In [67]:
#combining unique values into Lowfat vs Regular
sales_predictions.loc[sales_predictions['Item_Fat_Content'] == 'LF', 'Item_Fat_Content'] = 'Low Fat'
sales_predictions.loc[sales_predictions['Item_Fat_Content'] == 'reg', 'Item_Fat_Content'] = 'Regular'
sales_predictions.loc[sales_predictions['Item_Fat_Content'] == 'low fat', 'Item_Fat_Content'] = 'Low Fat'
sales_predictions.value_counts('Item_Fat_Content')

Item_Fat_Content
Low Fat    5517
Regular    3006
dtype: int64

In [95]:
sales_predictions.value_counts('Item_Type')
#looks like there are none that need to be fixed for whitespace or punctuation
#Lots of Fruits & Vegetables, followed by snack foods. Least common type of item is Seafood.

Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
dtype: int64

In [69]:
sales_predictions.value_counts('Outlet_Identifier')

Outlet_Identifier
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
dtype: int64

In [97]:
sales_predictions.value_counts('Outlet_Location_Type')

Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
dtype: int64

unit inconsistency checks

In [98]:
sales_predictions['Item_Visibility']

0       0.016047
1       0.019278
2       0.016760
3       0.000000
4       0.000000
          ...
8518    0.056783
8519    0.046982
8520    0.035186
8521    0.145221
8522    0.044878
Name: Item_Visibility, Length: 8523, dtype: float64

In [99]:
sales_predictions['Item_MRP']

0       249.8092
1        48.2692
2       141.6180
3       182.0950
4        53.8614
          ...
8518    214.5218
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

In [100]:
sales_predictions['Outlet_Establishment_Year']

0       1999
1       2009
2       1999
3       1998
4       1987
        ...
8518    1987
8519    2002
8520    2004
8521    2009
8522    1997
Name: Outlet_Establishment_Year, Length: 8523, dtype: int64

Looking for trends

In [104]:
sales_predictions.sort_values('Item_Outlet_Sales')

     Item_Identifier Item_Fat_Content  ...    Outlet_Type Item_Outlet_Sales
906            DRK12          Low Fat  ...  Grocery Store           33.2900
6950           NCR42          Low Fat  ...  Grocery Store           33.2900
2571           FDU21          Regular  ...  Grocery Store           33.9558
3053           NCL41          Low Fat  ...  Grocery Store           34.6216
7388           FDQ47          Regular  ...  Grocery Store           35.2874
...              ...              ...  ...            ...               ...
6541           FDI50          Regular  ...    Supermarket        10306.5840
4349           FDP33          Low Fat  ...    Supermarket        10993.6896
1450           FDZ20          Low Fat  ...    Supermarket        11445.1020
5223           FDQ19          Regular  ...    Supermarket        12117.5600
7188           NCE42          Low Fat  ...    Supermarket        13086.9648

[8523 rows x 10 columns]

In [109]:
grocery_store = sales_predictions[sales_predictions['Outlet_Type'] == 'Grocery Store']
supermarkets = sales_predictions[sales_predictions['Outlet_Type'] != 'Grocery Store']

In [111]:
#grocery store average sales
grocery_store['Item_Outlet_Sales'].mean()

339.8285004616805

In [110]:
#supermarket average sales
supermarkets['Item_Outlet_Sales'].mean()

2449.340207580655

We can make an assumption that supermarkets make more sales than grocery stores